.quizStartButton {
    margin: 3em;
    font-size: 24px;
    border-radius: 30px;
    background-color: $SchemeGreen;
    padding: 1em 2em;
    border: none;
}

.quizStartButton:hover {
    filter: saturate(200%);
    color: #FFF;
}

.updatePlantButton {
    border-radius: 10px;
    background-color: $SchemeTan;
    padding: 1em;
    border: none;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.updatePlantButton:hover {
    filter: saturate(120%);
    color: $SchemeGreen;
}

.addPlantButton {
    border-radius: 10px;
    background-color: $SchemeDarkGreen;
    padding: .7em 1em;
    border: none;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin: 1em;
}

.addPlantButton:hover {
    filter: saturate(150%);
    color: $SchemeGreen;
}

.waterButton {
    border-radius: 10px;
    background-color: rgb(33, 129, 219);
    padding: .7em 1em;
    border: none;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin: 1em;
}
.waterButton:hover {
    filter: saturate(170%);
    color: $SchemeGreen;
}