.plant-image {
  max-width: 100%;
  max-height: 275px;
  object-fit: cover;
}

.plant-card {
  margin: 2em;
  padding: 2em;
  width: 400px;
}

.single-plant-image {
  max-width: 60%;
  max-height: 350px;
  object-fit: cover;
}
